<body style="background-color: white;">
  <h1>Please login</h1>
  <form action="/login-payment?amount={{amount}}&ico={{ico}}&order={{order}}&session={{session}}" method="POST">
    <label>
      Login: <input type="text" name="email" />
    </label>
    <label>
      Password: <input type="password" name="password" />
    </label>
    <input type="submit" value="login">
  </form>
  <p>{{errors}}</p>
  <p>If you do not have an account you can <a href="/register-payment?amount={{amount}}&ico={{ico}}&order={{order}}&session={{session}}">Register</a></p>
</body>