<body style="background-color: white;">
  {{#if registered}}
    <h1>Please verify your email and login</h1>
    <a href='/login?amount={{amount}}&ico={{ico}}&order={{order}}&session={{session}}'>Link to login</a>
  {{else}}
    <h1>Please register</h1>
    <form action="/register-payment?amount={{amount}}&ico={{ico}}&order={{order}}&session={{session}}" method="POST">
      <label>
        First name: <input type="text" name="firstName" />
      </label>
      <label>
        Last name: <input type="text" name="lastName" />
      </label>
      <label>
        Country: <input type="text" name="country" />
      </label>
      <label>
        Email: <input type="text" name="email" />
      </label>
      <label>
        Password: <input type="password" name="password" />
      </label>
      <input type="submit" value="register">
    </form>
    <p>{{errors}}</p>
  {{/if}}
</body>